/* screen - XXl min-1400px max-infi.... */
@media (min-width:1400px) {
    .container{
        width: 1320px;
    }
} 

/* screen - Xl min- 1200px max-1399px */
@media (max-width:1399px) {
    .container{
        width:1140px;
    }
}

/* screen - LG min-992px max-1199px */
@media (max-width:1199px) {
    .container{
        width:940px;
    }
}

/* screen- MD min-768px max-991px */
@media (max-width:991px) {
    .container{
        width:720px;
    }
    .nav-mb-none{display:none;}
    .none-mb-open{display:flex;}
    .features-container {
    flex-wrap: wrap;
  }

  .feature-card {
    flex: 0 0 50%;
    margin-bottom: 30px;
  }

  .feature-card:nth-child(2) {
    border-right: none;
  }
}

/* screen - SM min-576px max-767px */
@media(max-width:767px) {
    .container{
        width:540px;
    }
    .hero-content .h1{font-size:24px;}
    .hero-content p{font-size:12px;}
    .w-100{width:100%;}
    .w-50{width:50%;}
    .d-sm-block{display:block;}
    .features-container {
    flex-direction: column;
  }

  .feature-card {
    flex: 1 0 100%;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08); /* Horizontal divider on mobile */
    padding-bottom: 25px;
    margin-bottom: 25px;
  }

  .feature-card:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

/* screen - XS min-0px max-575px */
@media (min-width:575px) {
    .container{
        width:100%;
    }
}