* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #ebd7c9;
    color: #2b231f;
}
.d-flex{display:flex;}
.justify-between{justify-content: space-between;}
.justify-around{justify-content: space-around;}
.align-center{align-items: center;}
.justify-center{justify-content: center;}
.pb-20{padding-bottom:20px;}
.pl-10{padding-left:10px;}
.w-10{width:10%;}
a{text-decoration:none;}
li{
    list-style:none;
}
.container {
    width: 1320px;
    background-color: #f2e3d5;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    padding:0px 16px;
    margin:0 auto;
}
.row {
    margin:0px -16px;
    /* background-color: #2b231f; */
    display:flex;
    flex-wrap: nowrap;
}
.header-wrapper{
    width:100%;
}
.none{display:none;}
.logo{width:40%;}
.navbar{width:30%;}
.navbar ul{width:100%;}
.navbar ul a{
    color: #2b231f;
    font-weight: 600;
    font-size:1rem;
}
.hero-container{
    width:100%;
    height:50vh;
    background-image:url(../image/hero-image.jpg);
    background-position:center;
    background-size:cover;
}
.hero-content {
  position: relative;
  z-index:1; 
}
.hero-content h1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
  color: #fcefe6;
}
.hero-content p {
  font-size: 1rem;
  color: #d1c7bd;
  line-height: 1.5;
  font-family: sans-serif;
}
.button-group {
  width:100%;
  padding-bottom: 50px; 
  margin-top: 10px;
}
.btn {
    width:50%;
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: sans-serif;
  transition: all 0.3s ease;
}
.btn-primary {
  background-color: #f7ebd9;
  color: #2b1b17;
}
.btn-primary:hover {
  background-color: #ffffff;
  transform: translateY(-2px);
}
.btn-secondary {
  background-color: #b87333;
  color: #ffffff;
}
.btn-secondary:hover {
  background-color: #a05a20;
  transform: translateY(-2px);
}